<div class="auth-card">
  <h1>Sign up</h1>

  <% if flash[:alert] %><div class="flash-alert"><%= flash[:alert] %></div><% end %>

  <%= form_with model: @user, url: registration_path do |form| %>
    <% if @user.errors.any? %>
      <div class="error-messages">
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :email_address %>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address" %>
    </div>

    <div class="field">
      <%= form.label :password %>
      <%= form.password_field :password, required: true, autocomplete: "new-password", placeholder: "Enter a password", maxlength: 72 %>
    </div>

    <div class="field">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, required: true, autocomplete: "new-password", placeholder: "Confirm your password", maxlength: 72 %>
    </div>

    <div class="actions">
      <%= form.submit "Sign up" %>
    </div>
  <% end %>

  <div class="auth-links">
    <%= link_to "Already have an account? Sign in", new_session_path %>
  </div>
</div>
