<p><%= link_to "← #{@match.division.name}", @match.division %></p>

<h1>Round <%= @match.round %> <span class="tag"><%= @match.status %></span></h1>

<% if @match.errors.any? %>
  <div class="error-messages">
    <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% if @match.division.individual? %>
  <%= render "individual_scoreboard", match: @match %>
<% else %>
  <%= render "team_scoreboard", match: @match %>
<% end %>

<%= render "result_form", match: @match %>
